<div class="login-page">
  <div class="login-card">
    <h1 class="login-title">Tsubame</h1>

    <%= form_with url: session_path, class: "login-form" do |form| %>
      <div class="login-field">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "メールアドレス", value: params[:email_address], class: "login-input" %>
      </div>
      <div class="login-field">
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "パスワード", maxlength: 72, class: "login-input" %>
      </div>
      <%= form.submit "ログイン", class: "login-submit" %>
    <% end %>
  </div>
</div>
